<div class="wrapper" ng-controller="CtrlMenuBar">
    <div class="sidebar" data-background-color="white" data-active-color="success">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    Freshcode
                </a>
            </div>

            <ul class="nav">
                <li ng-class="{active: a === 'vacancy'}" ng-click="a = 'vacancy'">
                    <a href="#/">
                        <i class="ti-check-box"></i>
                        <p>Вакансии</p>
                    </a>
                </li>
                <li ng-class="showReviews {active: a === 'reviews'}">
                    <a href="" class="showReviews" onclick="onhereclick()">
                        <i class="ti-user"></i>
                        <p>Отзывы</p>
                    </a>
                    <ul ng-class="{active: a === 'reviews_main' || a === 'reviews_other'}" class="hide-block-nav">
                        <li>
                            <a href="#/review/main" ng-click="a = 'reviews_main'">Главная</a>
                        </li>
                        <li>
                            <a href="#/review" ng-click="a = 'reviews_other'">Отзывы Сотрудников</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#/">Вакансии</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/logout">
                                <i class="ti-shift-right"></i>
                                <p>Выйти</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>




        <div ng-view></div>


    </div>
</div>