<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="success">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    Freshcode
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="#/">
                        <i class="ti-check-box"></i>
                        <p>Вакансии</p>
                    </a>
                </li>
                <li class="showReviews">
                    <a href="" class="showReviews" onclick="onhereclick()">
                        <i class="ti-user"></i>
                        <p>Отзывы</p>
                    </a>
                    <ul class="hide-block-nav">
                        <li>
                            <a href="#/review/main">Главная</a>
                        </li>
                        <li>
                            <a href="#/review">Отзывы Сотрудников</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#/review">Отзывы</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/logout">
                                <i class="ti-shift-right"></i>
                                <p>Выйти</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="card col-md-8">
                        <div class="header">
                            <h4 class="title">Редактирование</h4>
                        </div>
                        <div class="content">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Имя</label>
                                            <input type="text" ng-model="reviewsData.name" class="form-control border-input" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Должность</label>
                                            <input type="text" ng-model="reviewsData.title" class="form-control border-input" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Отзыв</label>
                                            <textarea ng-model="reviewsData.text" rows="4" cols="50" class="form-control border-input" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-info btn-fill btn-wd" ng-click="update()" >Изменить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
